header {
    background: url('../../images/home-background.webp');
    background-size: cover;
    height: 94vh;
    padding: 36px 72px;
  }
  
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #hero h1{
    color: var(--yellow);
    font-size: 44px;
    text-align: center;
    font-weight: 400;
    margin: 24px;
    font-family: 'Anton';
  }
  
  #hero input {
    border: none;
    border-radius: inherit;
    outline: none;
    height:60px;
    width: 60%;
    padding-left: 24px;
  }
  
  #hero div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 50%;
    border-radius: 8px;
    position: relative;
  }
  
  #hero  .search-icon {
    margin: 6px;
    height: auto;
  }